[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
httpx = "*"
xmltodict = "*"
pandas = "*"
dbt-core = "*"
dbt-postgres = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
